seed: 42

game:
  id: connect4
  params:
    rows: 6
    cols: 7

agent:
  id: dqn
  params:
    learning_rate: 1.0e-5
    discount_factor: 0.99
    use_twin_q: true
    epsilon: 1.0
    epsilon_decay: 0.9998
    epsilon_min: 0.05
    batch_size: 128
    replay_buffer_size: 20000
    use_per: false
    target_update_freq: 1000
    soft_update: false
    tau: 0.001
    n_step: 1
    device: cuda:0  # force NVIDIA GPU (avoid Intel integrated)

train:
  total_steps: 250000
  deterministic: false
  track_timings: true
  start_policy: agent_first
  opponent_sampler:
    type: random
    params: {}
  callbacks:
    - type: checkpoint
      params:
        interval: 2000
        prefix: dqn
    - type: metrics_file
      params:
        interval: 100
    - type: epsilon_decay
      params:
        every: episode
    - type: lr_decay
      params:
        interval_steps: 50000
        decay_factor: 0.9
        min_lr: 1.0e-6
        optimizer_attr: optimizer
        metric_key: learning_rate

eval:
  enabled: false
  num_episodes: 50
  deterministic: true
